.card_custom{
    width: 350px;
    color: white;
    .title{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.622);
        padding: 15px 20px;
    }
}

ul, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}
header {
    a {
        color: white;
    }
    padding: 10px 0;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgb(7, 8, 46);
    
}
.container{
    padding-top: 100px;
}


.dashboard{
    .row:first-child{
        .col:first-child{
            background-color: rgb(7, 8, 46);
            nav{
                 menu{
                    li{
                        svg{
                            margin-right: 10px;
                        }
                        a{

                            color: white;
                        }
                        button{
                            color: white;
                            padding: 0;
                            margin: 0;
                            border: none;
                            background: none;
                        }
                    }
                }
            }

        }
    }

    .container{
        padding-top: 55px;
    }
    
    .search{
        padding: 15px 0;
        width: 100%;
        position: fixed;
        z-index: 999;
        background-color: white;
        input{
            border-radius: 5px;
            
        }
        
    }
    .categories{
        button{
            padding: 0;
            margin: 0;
            border: none;
            background: none;
        }
    }
}

button:not(.categories button){
    background-color: rgb(7, 8, 46);
    color: white;
    border: none;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.form-style{
    label:not(.check label, .is_visible label){
        display: block;
    }
    input{
        margin-right: 5px;
    }
}

.margin{
    margin: 15px 0;
}



